<!DOCTYPE html>
<html lang="en">
<style>
    #Progress_Status {
        width: 50%;
        background-color: #ddd;
    }

    #myProgressBar {
        width: 2%;
        height: 20px;
        background-color: #4CAF50;
    }
</style>

<link rel="stylesheet" type="text/css" href="css/loading-bar.css"/>
<script type="text/javascript" src="js/loading-bar.js"></script>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0">

    <title>SkyLink</title>
    <style>
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        iframe {
            display: block;
            height: 940px;
            margin-left: auto;
            margin-right: auto;
        }
        /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
        #map {
            height: 100%;
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

    </style>
</head>
<body>
    <img src="g897.png" alt="SkyLink" style="width:20%" />
    <!-- <iframe src="https://www.google.com/maps/d/embed?mid=1tLUyOFSdCLZEISTr5vTWkdaZ0AkxJufw" style="width:80%"></iframe> -->

    <div id="map"></div>
    <script>
        async function sendData(coordinates) {
            await sendHttpRequest('POST', '/orderDrone', coordinates)
                .then(responseData => {
                    const json = JSON.parse(responseData);
                    update(json)
                })
                .catch(err => {
                    console.log(err);
                });
        }

        const sendHttpRequest = (method, url, data) => {

            return new Promise((resolve, reject) => {
                const xhr = new XMLHttpRequest();
                xhr.open(method, url);
                xhr.setRequestHeader("Content-Type", "application/json");
                xhr.onload = () => {
                    if (xhr.status >= 400) {
                        reject(xhr.response);
                    } else {
                        resolve(xhr.response);
                    }
                };

                xhr.onerror = () => {
                    reject('Something went wrong!');
                };
                xhr.send(JSON.stringify(data));

            });
        };

        var map;
        function initialize() {
            var mapDiv = document.getElementById('map');
            map = new google.maps.Map(mapDiv, {
                center: new google.maps.LatLng(51.4532768,-2.5843882),
                point2: new google.maps.LatLng(51.414626,-2.6604784),
                zoom: 13,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });

            var marker = new google.maps.Marker({
                position: map.center,
            });

            var marker1 = new google.maps.Marker({
                position: map.point2,
            });

            marker.setMap(map);
            marker1.setMap(map);

            google.maps.event.addListener(map, 'bounds_changed', function() {
                var lat1 = 51.414626;
                var lat2 = 51.5521051;
                var lng1 = -2.6604784;
                var lng2 = -2.4786526;

                var rectangle = new google.maps.Polygon({
                    paths : [
                        new google.maps.LatLng(lat1, lng1),
                        new google.maps.LatLng(lat2, lng1),
                        new google.maps.LatLng(lat2, lng2),
                        new google.maps.LatLng(lat1, lng2)
                    ],
                    strokeOpacity: 0,
                    fillOpacity : 0,
                    map : map
                });
                google.maps.event.addListener(rectangle, 'click', function(args) {
                    console.log('latlng', args.latLng.lat() + ", " + args.latLng.lng());
                    if(coordinates.startX == null) {
                        coordinates.startX = args.latLng.lat();
                        coordinates.startY = args.latLng.lng();
                    }
                    else {
                        coordinates.destinationX = args.latLng.lat();
                        coordinates.destinationY = args.latLng.lng();
                        sendData(coordinates);
                    }
                });
                const coordinates = {
                    startX: null,
                    startY: null,
                    destinationX: null,
                    destinationY: null,
                    capacity: 1
                };
            });
            google.maps.event.addDomListener(window, 'load', initialize);
        }



    </script>
    <script>
        //Add listener
      /*  google.maps.event.addListener(marker, "click", function (event) {
            var latitude = event.latLng.lat();
            var longitude = event.latLng.lng();
            console.log( latitude + ', ' + longitude );

            radius = new google.maps.Circle({map: map,
                radius: 100,
                center: event.latLng,
                fillColor: '#777',
                fillOpacity: 0.1,
                strokeColor: '#AA0000',
                strokeOpacity: 0.8,
                strokeWeight: 2,
                draggable: true,    // Dragable
                editable: true      // Resizable
            });

            // Center of map
            map.panTo(new google.maps.LatLng(latitude,longitude));
            console.log(latitude + ", " + longitude);

        }); //end addListener*/
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDHL2sdVWfQNlUODbQweiKXkAcwIuz3xW8&callback=initialize"
            async defer>

    </script>

    <script>
        function createLoadingBar() {
            /* construct manually */
            document.getElementById('map').insertAdjacentHTML('beforeend',
                "         <div\n" +
                "         id=\"Loading_Bar\"\n" +
                "         data-value=\"0\"\n" +
                "         class=\"ldBar label-center\"\n" +
                "         data-preset=\"stripe\"\n" +
                "         style=\"width: 350px; height: 70px; display: block;\n" +
                "         margin-left: auto;\n" +
                "         margin-right: auto;\"" +
                "         ></div>");
            return new ldBar("#Loading_Bar");
        }
    </script>

    <script>
        function update(drone) {
            console.log("Nr Drona: " + drone.id);
            const bar1 = createLoadingBar();
            document.getElementById('map').insertAdjacentHTML('afterend',
                "         <div id = \"droneStatus\"\n" +
                "         style=\"width: 350px; height: 70px; display: block;" +
                "         margin-left: auto;" +
                "         margin-right: auto;\">" +
                "         <p id=\"drone_status\"></p>\n" +
                "         </div> ");
            document.getElementById('map').insertAdjacentHTML('afterend',
                "         <div id = \"droneID\"\n" +
                "         style=\"width: 350px; height: 70px; display: block;" +
                "         margin-left: auto;" +
                "         margin-right: auto;\" >" +
                "         <p id=\"drone_id\"></p>\n" +
                "         </div> ");
            document.getElementById('map').insertAdjacentHTML('afterend',
                "         <div id = \"droneX\"\n" +
                "         style=\"width: 350px; height: 70px; display: block;" +
                "         margin-left: auto;" +
                "         margin-right: auto;\" >" +
                "         <p id=\"drone_x\"></p>\n" +
                "         </div> ");
            document.getElementById('map').insertAdjacentHTML('afterend',
                "         <div id = \"droneY\"\n" +
                "         style=\"width: 350px; height: 70px; display: block;" +
                "         margin-left: auto;" +
                "         margin-right: auto;\" >" +
                "         <p id=\"drone_y\"></p>\n" +
                "         </div> ");
            document.getElementById('drone_status').innerHTML = "Drone Status: " + drone.status;
            document.getElementById('drone_id').innerHTML = "Drone ID: " + drone.id;
            document.getElementById('drone_x').innerHTML = "Drone X: " + drone.x;
            document.getElementById('drone_y').innerHTML = "Drone Y: " + drone.y;

            let finished = 0;
            const identity = setInterval(scene, 2000);

            async function scene() {
                if (finished) {
                    clearInterval(identity);
                } else {
                    await sendHttpRequest('POST', '/statusDrone', drone.id)
                        .then(responseData => {
                            const json = JSON.parse(responseData);
                            bar1.set(json.percentage);
                            document.getElementById('drone_status').innerHTML = "Drone Status: " + json.status;
                            document.getElementById('drone_x').innerHTML = "Drone X: " + drone.x;
                            document.getElementById('drone_y').innerHTML = "Drone Y: " + drone.y;
                            if(json.percentage >= 98) {
                                finished = 1;
                                bar1.set(100);
                            }
                        })
                        .catch(err => {
                            console.log(err);
                        });
                }
            }
        }
    </script>

</body>
</html>