<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SkyLink</title>
    <style>
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        iframe {
            display: block;
            height: 940px;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>
<body>
    <img src="g897.png" alt="SkyLink" style="width:20%">
    <iframe src="https://www.google.com/maps/d/embed?mid=1tLUyOFSdCLZEISTr5vTWkdaZ0AkxJufw" style="width:80%"></iframe>
</body>
</html>